body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F05E5E;
    box-sizing: border-box;
}

form{
    background-color: #ffffff;
    width: 400px;
    border-radius: 15px;
    font-size: 13px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

input, textarea{
    border: 0;
    outline: none;
    width: 300px;
}

.field{
    border: solid #ccc;
    padding: 10px;
}

.field:focus{
    border-color: #F05E5E;
    padding: 10px;
}

.center{
    text-align: center;
}